{% extends 'base.html' %}
{% block content %}

        <div class="col-md-6 offset-md-3 p-3 ">
            {%if user.is_authenticated%}
            <h1>Welcome</h1>

            {% else %}
        <h2 class="mb-3">LOGIN TO VOTE </h2>
            <br/>
        <form method="POST", action="{% url 'home' %}">
            {% csrf_token %}
          <div class="mb-3">
            <input type="text" class="form-control"  Placeholder="Email address"
                    name="email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control"  Placeholder="Password"
                    name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        </div>

{% endif %}

{% endblock %}